h2 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    padding-top: 15px;
}

.carousel-item img {
    width: 50%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
}


.carousel-item:hover img {
    opacity: 0.7;
    transform: scale(1.05);
}



.carousel-item .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}



.carousel-item:hover .carousel-caption {
    visibility: visible;
    opacity: 1;
}

.carousel-caption h5 {
    font-size: 24px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

.description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

html, body {
    overflow-x: hidden;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
}

.footer-content h4 {
    color: rgb(50, 52, 57);
    margin-bottom: 1.5rem;
    padding-top: 10px;
    font-size: 20px;
}

.footer-content li {
    margin-bottom: 8px;
}

.footer-content a {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover {
    transform: translateY(-3px)translateX(-5px);
    color: rgb(51, 53, 50);
}

.icons i {
    font-size: 18px;
    padding: 2px;
    display: inline-block;
    font-size: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease, color 0.3s ease;
}


.icon.facebook i {
    color: #1877F2;
}

.icon.telegram i {
    color: #0088CC;
}

.icon.instagram i {
    color: #E1306C;
}

.icon.phone i {
    color: #0077FF;
}


.icons a:hover i {
    transform: scale(1.1);
}

.nav-item a:hover {
    background: rgba(217, 191, 191, 0.759);
    border-style: none;
}

.nav-brand {
    margin-left: -100px;
}
