
body {
    background-image: url('/images/pics/5e9172640c492f0221ea1d5fdde99817.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
}

.nav-link {
    color: white !important;
}

.nav-item a:hover {
    background: rgba(217, 191, 191, 0.759);
    border-style: none;
}


