<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car_Rental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Car_Rental.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-black">
            <div class="container">
                <a class="navbar-brand text-white fw-bold" href="/">Xrent</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link text-white" asp-page="/Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-page="/Signup">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-page="/AboutUs">About Us</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown">Cars</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-page="/carspage">Main page</a></li>
                                <li><a class="dropdown-item" asp-page="/SedanCars">Sedan</a></li>
                                <li><a class="dropdown-item" asp-page="/SUVCars">SUV</a></li>
                                <li><a class="dropdown-item" asp-page="/LuxuryCars">Luxury</a></li>
                                <li><a class="dropdown-item" asp-page="/EconomyCars">Economy</a></li>
                                <li><a class="dropdown-item" asp-page="/4X4Cars">4X4</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link text-white" asp-page="/Contact">Contact Us</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <section class="footer" style="background-color: black;">
        <div class="row">
            <div class="footer-content col-3">
                <img src="seat.jpeg" width="75" height="75" alt="logo" style="margin-left: 100px; margin-top: 20px;">
            </div>
            <div class="footer-content col-3">
                <div class="icons">
                    <h4 style="color: azure;">Reach Us</h4>
                    <a href="https://www.facebook.com" style="display: block; margin-bottom: 10px;"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="https://www.telegram.com" style="display: block; margin-bottom: 10px;"><i class='bx bxl-telegram'></i></a>
                    <a href="https://www.instagram.com" style="display: block; margin-bottom: 10px;"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.truecaller.com" style="display: block; margin-bottom: 10px;"><i class='bx bxs-phone-call'></i></a>

                </div>
            </div>
            <div class="footer-content col-3">
                <h4 style="color: azure"> Car Models </h4>
                <li style="list-style-type: none;"><a href="#">Sedan</a></li>
                <li style="list-style-type: none;"><a href="#">SUV's</a></li>
                <li style="list-style-type: none;"><a href="#">Luxury</a></li>
                <li style="list-style-type: none;"><a href="#">Economy</a></li>
                <li style="list-style-type: none;"><a href="#">4X4</a></li>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>